.input-container {
    padding: 0px 0 20px 0;
	left: 30px;
}

/*ī�װ�*/
label.reg_signup {
    margin: 0;
    text-align: left;
    padding: 0 0px 9px 0;
    display: block;
}

.menuTitle {
	text-align: center;
}

.btn.btn-primary.supprot {
	width: 13em;
	margin: 2em 0 2em 0;
	left: 18px;
}

.woocommerce-form.woocommerce-form-register.register {
	position: relative;
}



/*�Ͻ��Ŀ�*/
#tem{
	overflow-x: hidden;
	overflow-y: auto;
}

.btn.btn-primary.supprot.tem {
	margin: 0 auto;
	top: 80px;
	position: relative;
	left: 0;
}

.js-focus-state.form-group.tem {
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.form-control.input.tem {
	width: 138px;
}

.h4.tem {
	margin: 0px 15px 0px 0px;
	display: block;
}

.signup-form-container.tem {
	padding: 30px 0 50px 0;
}



/*�����Ŀ�*/
.woocommerce-Input.woocommerce-Input--text.input-text.regDate{
	height: 44px;
}
select.woocommerce-Input.woocommerce-Input--text.input-text.select {
    border: 2px;
    height: 44px;
}


/*������������ ī�װ�(Adminpage) */
.container1.sp{
	width: 100%;
	text-align: center;
}

.container2.sp{
	display: inline-block;
}

.twins-wrap.reg.sp{
	width: 1000px;
	padding-top: 0;
}

.line-up-container{
	display: inline-block;
	font-size: 0.6em;
}



li{
	list-style:none;
}


.category-container{
	width: 100%;
	text-align: center;
}

.category-container:after{
	content: "";
	display: block;
	clear: both;	
}

.category>li{
	float: left;
	width: 20%;
	line-height:40px;
	display: inline-block;
	width: 80px;
	padding: 5px 10px;
	background: #cbbd89;
	text-align: center;
	
}

.REGSituation_submenu{
	display: none;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.idsearch-container{
	display: inline-block;
	margin: 30px 0;
	width: 227px;
	position: relative;
	left: 387px;
}


 .select-situation-regsp{
	background: transparent;
    border: 1px;
    text-color: #897F5D;
    color: #897F5D;
    appearance: none;
    text-align: center;
    margin: 3px;
    border-radius:4px;
	transition: all .2s ease-in-out;
}

.select-situation-regsp:focus {
	outline:none;
}


.js-focus-state.form-group{
	margin: 0;
	padding: 0;
}
